.feature_container {
    margin: 0px;
    width: 100%;
    height: 80rem;


    .feature_Header{
        padding: 5rem;
        display: flex;
        justify-content: center;
        span{
            font-size: 2.3rem;
            letter-spacing: 1.4px;
            font-weight: 900;
        }
    }

    .feature_Body {
        height: 40rem;
        padding: 8rem 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .feature_Body_left {
            width: 45rem;
            
            height: 100%;
            position: relative;
            filter: blur(-5rem);
            background-color: rgba(196, 195, 195, 0.6);
        }

        .feature_Body_right {
            font-size: 2.3rem;
            padding: 1rem;

            .title {
                color: rgb(149, 73, 255);
            }

            .lorems {
                font-size: 1.2rem;
            }
        }
    }
}


.faq_container {
    width: 100%;
    height: 50rem;
    .faq_header {
        width: 100%;
        padding: 5rem;
        text-align: center;
        font-size: 2.3rem;
        font-weight: 900;
        letter-spacing: 1.32px;
        
    }
    .cards {
        display: flex;
        justify-content: center;


        .cardItem {
            background-color: rgba(196, 195, 195, 0.6);
            width: 30rem;
            height: 30rem;
            margin-right: 1rem;
        }
    }
}