$breakpoints: (
    sm: 540px,
    md: 768px,
    lg: 1024px,
    lgx: 1024px,
);

@mixin Media_up($breakpoint) {
    @media screen and (min-width: map-get($breakpoints,$breakpoint)) {
        @content;
    }
}

@mixin Media_Phone($breakpoint){
    @media screen and (max-width: map-get($breakpoints,$breakpoint)) {
        @content;
    }
}

@mixin Media_tablet($breakpoint) {
    @media (min-width:540px) and (max-width: map-get($breakpoints,$breakpoint)) {
        @content;
    }
}


@mixin Media_labtop($breakpoint)  {
    @media (min-width:768px) and (max-width: map-get($breakpoints,$breakpoint)) {
        @content;
    }
}


.footer_wrapper {
    width: 100%;
    background-color: rgba($color: #000, $alpha: 0.9);
    color: white;


    .footer_header {
        text-align: center;
        padding: 2rem 0px;
    }

    .footer_bottom {
        padding: 3rem;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0.4rem;

        @include Media_Phone(sm){
            grid-template-columns: 1fr;
            padding: 1.5rem;
        
            .footer_cards{
                justify-content: center;
            }
        }

        @include Media_tablet(md){
            grid-template-columns: 1fr 1fr;
            padding: 2rem;
        }

        @include Media_labtop(lg){
            grid-template-columns: 1fr 1fr 1fr;
            padding: 2.5rem;
        }

        @include Media_up(md){
            grid-template-columns: 1fr 1fr 1fr;
            padding: 3rem;
            .footer_cards{
                span {
                    text-align: center;
                    padding-right: 2rem;
                }
            }
        }

            .footer_cards {
                padding: 1rem 1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                span{
                    margin-left: 1.2rem;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 10px;
                    }

            .cards_items {
                margin: 0.5rem 0.8rem;
                margin-top: 1rem;
                transition: all 1s cubic-bezier(1, -0.08, 0.58, 1);
                height: 100%;

                a {
                    padding: 9px 2rem;
                    font-size: 0.9rem;
                    opacity: 0.5;
                    border-radius: 15px;
                    
                }

                a:hover {
                    color: black;
                    border-radius: 20px;
                    margin-left: 1rem;
                    transition: all 1s cubic-bezier(1, -0.08, 0.58, 1);
                    opacity: 1;
                    background-color: rgba($color: #f2f2f2, $alpha: 1.0)
                }
            }


        }
    }

    .footer_end {
        text-align: center;
        font-size: 0.8rem;
        padding: 1rem;
        background-color: rgba($color: #000, $alpha: 1);
    }
}