.footer_wrapper {
    width: 100%;
    background-color: rgba($color: #000, $alpha: 0.9);
    color: white;


    .footer_header {
        text-align: center;
        padding: 2rem 0px;
    }

    .footer_bottom {
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0.4rem;

            .footer_cards {
                padding: 1rem 1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                span{
                    margin-left: 1.2rem;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 10px;
                    }

            .cards_items {
                margin: 0px 0.8rem;
                margin-top: 1rem;
                transition: all 1s cubic-bezier(1, -0.08, 0.58, 1);
                height: 100%;

                a {
                    padding: 9px 2rem;
                    font-size: 0.9rem;
                    opacity: 0.5;
                    border-radius: 15px;
                    
                }

                a:hover {
                    color: black;
                    border-radius: 20px;
                    margin-left: 1rem;
                    transition: all 1s cubic-bezier(1, -0.08, 0.58, 1);
                    opacity: 1;
                    background-color: rgba($color: #f2f2f2, $alpha: 1.0)
                }
            }


        }
    }

    .footer_end {
        text-align: center;
        font-size: 0.8rem;
        padding: 1rem;
        background-color: rgba($color: #000, $alpha: 1);
    }
}